@import url(./general.css);
@import url(./dashboard.css);
@import url(./income.css);
@import url(./expenses.css);
@import url(./savings.css);
@import url(./report.css);
@import url(./setting.css);
@import url(./animation.css);

/* Container */
.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Sidebar */
.sidebar {
    max-width: 250px;
    min-width: 200px;
    width: 25%;
    background-color: var(--primary-color);
    color: #fff;
    overflow-y: auto;
}

.profile-container{
    margin: 20px auto 30px;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 10px 15px var(--shadow-color);
}

.profile-container img{
    width: 100%;
    height: 100%;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    margin-inline: 20px;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
    background-color: var(--primary-dark);
}



/* Main Content */
#main-content {
    flex: 1;
    padding: 20px;
    background-color: var(--background-color);
    overflow-y: auto;
}

#main-content header {
    margin-bottom: 20px;
}

#main-content h1 {
    font-size: 24px;
    color: var(--primary-color);
}































